<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AppThreat SAST scan report</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
    .divider[data-content] {
      margin: 1.6rem 0;
    }
  </style>
</head>
<body>
{% set run = runs[-1] %}
{% set invocation = run.invocations[-1] %}
{% set results = run.results %}
{% set metrics = run.properties.metrics %}
{% set tool = run.tool %}
{% set isError = True if metrics.critical > 0 or metrics.high > 2 or metrics.medium > 5 else False %}
{% set versionControlProvenance = run.versionControlProvenance[-1] %}
<div class="container grid-xl" style="min-height: 90vh;">
  <header class="navbar" style="height: 4rem;">
  <section class="navbar-section">
    <a href="https://appthreat.io" class="navbar-brand"><img width="60px" src="https://avatars3.githubusercontent.com/u/58593322?s=240&v=4" /></a>
    <a href="https://github.com/AppThreat/sast-scan" class="btn ml-1">sast-scan</a>
    <a href="https://github.com/AppThreat/dep-scan" class="btn ml-1">dep-scan</a>
  </section>
  </header>
  <div class="columns">
    <div class="column col-12">
      <div class="hero hero-sm bg-dark">
        <div class="hero-body">
          <h1>SAST scan status <span class="tooltip tooltip-top" data-tooltip="{% if isError %}Issues were found in this run{% else %}No major issues were found{% endif %}"><i class="text-{% if isError %}error{% else %}success{% endif %} icon icon-4x icon-{% if isError %}cross{% else %}check{% endif %}"></i></span></h1>
          <p>Report from the scan performed on <span class="text-dark chip"><i class="icon icon-time"> </i>&nbsp; {{ invocation.endTimeUtc|replace("T", " at ")|replace("Z", "") }}</span> for <a class="btn" href="{{ versionControlProvenance.repositoryUri
            }}">{{ versionControlProvenance.repositoryUri|default('local')
            }}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns col-gapless">
    <div class="column col-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title h4">Repository Details</div>
          <div class="card-subtitle text-gray">{{ versionControlProvenance.repositoryUri|default('local') }}</div>
        </div>
        <div class="card-body">
          <div class=""><strong>Branch</strong> <span>{{ versionControlProvenance.branch }}</span></div>
          <div class=""><strong>Commit</strong> <span>{{ versionControlProvenance.revisionId }}</span></div>
        </div>
      </div>
    </div>
    <div class="column col-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title h4">Invocation Details</div>
          <div class="card-subtitle text-gray">{{ tool.driver.name }}</div>
        </div>
        <div class="card-body">
          <div class=""><strong>Run Id</strong> <span>{{ inlineExternalProperties[-1].runGuid }}</span></div>
          <div class=""><strong>Directory</strong> <span>{{ invocation.workingDirectory.uri }}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider text-center" data-content="Summary"></div>
  <section id="#summary"></section>
  <details class="accordion" open>
    <summary class="accordion-header">
    <i class="icon icon-arrow-right mr-1"></i>
    Executive Summary
  </summary>
    <div class="accordion-body columns col-gapless">
    <div class="column col-12">
        <p>This report was generated by AppThreat from the SAST scan invocation on {{ invocation.endTimeUtc|replace("T", " at ")|replace("Z", "") }}. The scan used the open source tool <span class="text-bold"> {{ tool.driver.name }}</span> to scan the source code repository {{ versionControlProvenance.repositoryUri|default('local')|urlize(40, target='_blank') }}.
        </p>
        {% if metrics.total %}
        <p>
        Below is a summary of the issues identified:
        </p>
        <table class="table">
          <thead>
          <tr>
            <th>Severity</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody>
          {% for sev in ["critical", "high", "medium", "low", "total"] -%}
          <tr>
            <td><span class="bg-{{ sev|auto_colourize }} chip">{{ sev|upper }}</span></td>
            <td>{{ metrics.get(sev)|default('NA') }}</td>
          </tr>
          {%- endfor %}
          </tbody>
        </table>
        {% endif %}
      {% if isError %}
      <p>&nbsp;</p>
      <p><i class="icon icon-flag icon-2x text-warning"></i>&nbsp; AppThreat recommends immediate remediation of the key issues identified before using this application in a live environment.</p>
      {% else %}
      <p>&nbsp;</p>
      <p><i class="icon icon-check icon-2x text-success"></i>&nbsp; Based on this report, the application is certified as ready for deployment to test and production environments. Please refer to the dependency and container scan reports (if available) for additional context.</p>
      {% endif %}
    </div>
  </div>
  </details>
  {% if key_issues|length %}
  <div class="divider text-center" data-content="Requires attention"></div>
  <section id="#key_issues"></section>
  <details class="accordion" open>
    <summary class="accordion-header">
    <i class="icon icon-arrow-right mr-1"></i>
      Key Issues <span class="text-bold">{{ key_issues|length }} / {{ metrics.critical }}</span>
  </summary>
    <div class="accordion-body columns col-gapless">
    {% for result in key_issues -%}
    {% set result_index = loop.index %}
    <div class="column col-6">
      <div class="panel">
        <div class="panel-body" style="padding: .8rem;">
          {% for location in result.locations -%}
          <div class="tile">
            <div class="tile-icon">
              <figure class="bg-{{ result.level }} avatar avatar-lg mr-2" data-initial="{{ result_index }}"></figure>
            </div>
            <div class="tile-content">
              <p class="tile-title text-bold">{{ result.ruleId|default('') }}</p>
              <span><a target="_blank" href="{{ location.physicalLocation.artifactLocation.uri }}">{{ location.physicalLocation.artifactLocation.uri|basename }}</a></span>
              <p class="tile-subtitle"><div class="">{{ result.message.text|auto_text_highlight|safe }}</div></p>
{% set allLines = location.physicalLocation.contextRegion.snippet.text %}
{% set firstLine = allLines.split("\n")[0].strip() %}
{% set remLines = "<br/>".join(allLines.split("\n")[1:]) %}
<pre class="code"><code><a target="_blank" class="btn" href="{{ location.physicalLocation.artifactLocation.uri }}#L{{ location.physicalLocation.contextRegion.startLine }}"><i class="icon icon-location"></i> {{ location.physicalLocation.contextRegion.startLine }}:</a> {{ firstLine|safe }}<br/>        {{ remLines|safe }}
</code>
</pre>
            </div>
          </div>
          {%- endfor %}
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>
  </details>
  {% endif %}
  <div class="divider text-center" data-content="All"></div>
  <section id="#all_issues"></section>
  <div class="columns col-gapless">
    <div class="column col-12">
      <h3><i class="icon icon-link"></i> All Issues <span class="text-bold">({{ metrics.total }})</span></h3>
    </div>
    <div class="column col-12">
      <div class="filter">
        <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
        <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
        <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
        <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
        <input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>

        <div class="filter-nav">
          <label class="chip" for="tag-0">All ({{ metrics.total }})</label>
          <label class="chip" for="tag-1">Critical ({{ metrics.critical }})</label>
          <label class="chip" for="tag-2">High ({{ metrics.high }})</label>
          <label class="chip" for="tag-3">Medium ({{ metrics.medium }})</label>
          <label class="chip" for="tag-4">Low ({{ metrics.low }})</label>
        </div>
        <div class="filter-body">
          <table class="table">
            <thead>
            <tr>
              <th>Rule</th>
              <th>Severity</th>
              <th>Source location</th>
              <th>Message</th>
            </tr>
            </thead>
            <tbody>
          {% for result in results|sort(attribute="properties.issue_severity") -%}
          {% set result_index = loop.index %}
          {% for location in result.locations -%}
          {% set allLines = location.physicalLocation.contextRegion.snippet.text %}
{% set firstLine = allLines.split("\n")[0].strip() %}
{% set remLines = "<br/>".join(allLines.split("\n")[1:]) %}
          <tr data-tag="tag-{{ result.properties.issue_severity|replace('CRITICAL', '1')|replace('HIGH', '2')|replace('MEDIUM', '3')|replace('LOW', '4') }}" class="filter-item">
            <td>{{ result.ruleId|default('') }}
            </td>
            <td><span class="chip bg-{{ result.properties.issue_severity|auto_colourize }}">{{ result.properties.issue_severity }}</span></td>
            <td><a target="_blank" class="btn btn-link" href="{{ location.physicalLocation.artifactLocation.uri }}#L{{ location.physicalLocation.contextRegion.startLine }}"><i class="icon icon-link"></i> {{ location.physicalLocation.artifactLocation.uri|basename }}</a></td>
            <td>
              <span style="max-width: 40%;" class="d-inline-block">{{ result.message.text|auto_text_highlight|safe }}</span>
<pre class="code" style="max-width: 40%;"><code>{{ firstLine|safe }}<br/>{{ remLines|safe }}
</code>
</pre>
            </td>
          </tr>
          {%- endfor %}
          {%- endfor %}
        </tbody>
      </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container grid-xl" style="height: 2rem; color: #bcc3ce;">
  <p>Thank you for supporting <a href="https://appthreat.io" target="_blank">AppThreat</a></p>
</div>
</body>
</html>
